<!DOCTYPE html>
<html>
	<head>
		<title>42 council voter 3000</title>
		<meta charset="UTF-8">
		<meta name="description" content="welcome page">
		<meta name="author" content="Robin Adelwarth">
	</head>

	<body>
		<h1>Welcome to 42 council voter 3000</h1>
		<a class="btn btn-primary" href="https://api.intra.42.fr/oauth/authorize?client_id=35eb229904bb902ce01e52d0936b77b4bfb9802d1a67a5881c0ce947eeb1fa97&redirect_uri=https%3A%2F%2Fcouncil-vote.42heilbronn.de%2Fpoll%2Fvalidation&response_type=code
		">Intra Verification</a>
	</body>
</html>